#!name=bilibili去广告
#!desc=参考@RuCu6，去bilibili广告
#!author=jiaweiding
#!homepage=https://github.com/jiaweiding/QuantumultX
#!raw-url=https://github.com/jiaweiding/QuantumultX/Rewrite/bilibili.conf

hostname = ap?.bilibili.com, grpc.biliapi.net, www.bilibili.com, m.bilibili.com, *live.bilibili.com


# 拦截请求
^https:\/\/(?:api\.bilibili\.com\/x\/mengqi\/v1\/resource|app\.bilibili\.com\/x\/resource\/peak\/download) url reject-dict
^https:\/\/api\.bilibili\.com\/x\/v2\/dm\/qoe\/show\? url reject-dict
^https:\/\/api\.bilibili\.com\/x\/vip\/ads\/materials\? url reject-dict
^https:\/\/api\.live\.bilibili\.com\/xlive\/e-commerce-interface\/v1\/ecommerce-user\/get_shopping_info\? url reject-dict
^https:\/\/(?:app\.bilibili\.com|grpc\.biliapi\.net)\/bilibili\.app\.interface\.v1\.Search\/DefaultWords$ url reject-dict
^https:\/\/(?:app\.bilibili\.com|grpc\.biliapi\.net)\/bilibili\.app\.view\.v1\.View\/TFInfo$ url reject-dict
^https:\/\/app\.bilibili\.com\/x\/resource\/ip url reject-dict
^https:\/\/api\.bilibili\.com\/x\/web-interface\/zone\?jsonp url reject-dict

# 响应体处理
^https:\/\/app\.bilibili\.com\/x\/resource\/show\/skin\? url response-body "common_equip":\{[^}]*\} response-body "common_equip":{}

# URL 重定向
^https:\/\/live\.bilibili\.com\/(\d+)(\/?\?.*)? url 307 https://live.bilibili.com/$1
^https:\/\/(?:www|m)\.bilibili\.com\/video\/((?:BV\w{10}|av\d{9}))(\/?\?.*)? url 307 https://www.bilibili.com/video/$1


# 移除动态页面广告
^https:\/\/(?:app\.bilibili\.com|grpc\.biliapi\.net)\/bilibili\.app\.dynamic\.v2\.Dynamic\/DynAll$ url script-response-body https://raw.githubusercontent.com/kokoryh/Script/master/js/bilibili.protobuf.js

# 移除青少年模式弹窗
^https:\/\/(?:app\.bilibili\.com|grpc\.biliapi\.net)\/bilibili\.app\.interface\.v1\.Teenagers\/ModeStatus$ url script-response-body https://raw.githubusercontent.com/kokoryh/Script/master/js/bilibili.protobuf.js

# 移除热门话题
^https:\/\/(?:app\.bilibili\.com|grpc\.biliapi\.net)\/bilibili\.app\.show\.v1\.Popular\/Index$ url script-response-body https://raw.githubusercontent.com/kokoryh/Script/master/js/bilibili.protobuf.js

# 移除播放页面广告 playview
^https:\/\/(?:app\.bilibili\.com|grpc\.biliapi\.net)\/bilibili\.app\.playurl\.v1\.PlayURL\/PlayView$ url script-response-body https://raw.githubusercontent.com/kokoryh/Script/master/js/bilibili.protobuf.js

# 移除播放页面广告 playerunite
^https:\/\/(?:app\.bilibili\.com|grpc\.biliapi\.net)\/bilibili\.app\.playerunite\.v1\.Player\/PlayViewUnite$ url script-response-body https://raw.githubusercontent.com/kokoryh/Script/master/js/bilibili.protobuf.js

# 移除播放页面广告 view
^https:\/\/(?:app\.bilibili\.com|grpc\.biliapi\.net)\/bilibili\.app\.view\.v1\.View\/(?:View|ViewProgress)$ url script-response-body https://raw.githubusercontent.com/kokoryh/Script/master/js/bilibili.protobuf.js

# 移除播放页面广告 viewunite
^https:\/\/(?:app\.bilibili\.com|grpc\.biliapi\.net)\/bilibili\.app\.viewunite\.v1\.View\/(?:RelatesFeed|View)$ url script-response-body https://raw.githubusercontent.com/kokoryh/Script/master/js/bilibili.protobuf.js

# 移除交互式弹幕
^https:\/\/(?:app\.bilibili\.com|grpc\.biliapi\.net)\/bilibili\.community\.service\.dm\.v1\.DM\/DmView$ url script-response-body https://raw.githubusercontent.com/kokoryh/Script/master/js/bilibili.protobuf.js

# 移除评论区广告
^https:\/\/(?:app\.bilibili\.com|grpc\.biliapi\.net)\/bilibili\.main\.community\.reply\.v1\.Reply\/MainList$ url script-response-body https://raw.githubusercontent.com/kokoryh/Script/master/js/bilibili.protobuf.js

# 移除搜索结果广告
^https:\/\/(?:app\.bilibili\.com|grpc\.biliapi\.net)\/bilibili\.polymer\.app\.search\.v1\.Search\/SearchAll$ url script-response-body https://raw.githubusercontent.com/kokoryh/Script/master/js/bilibili.protobuf.js

# 移除开屏广告
^https:\/\/app\.bilibili\.com\/x\/v2\/splash\/(?:brand\/list|event\/list2|list|show) url script-response-body https://raw.githubusercontent.com/jiaweiding/scripts/refs/heads/main/Scripts/bilibili_ads.js

# 移除首页推荐广告
^https:\/\/app\.bilibili\.com\/x\/v2\/feed\/index url script-response-body https://raw.githubusercontent.com/jiaweiding/scripts/refs/heads/main/Scripts/bilibili_ads.js

# 精简首页顶部标签
^https:\/\/app\.bilibili\.com\/x\/resource\/show\/tab\/v2\? url script-response-body https://raw.githubusercontent.com/jiaweiding/scripts/refs/heads/main/Scripts/bilibili_ads.js

# 移除热搜广告
^https:\/\/app\.bilibili\.com\/x\/v2\/search\/square\? url script-response-body https://raw.githubusercontent.com/jiaweiding/scripts/refs/heads/main/Scripts/bilibili_ads.js

# 移除观影页广告
^https:\/\/api\.bilibili\.com\/pgc\/page\/(?:bangumi|cinema\/tab) url script-response-body https://raw.githubusercontent.com/jiaweiding/scripts/refs/heads/main/Scripts/bilibili_ads.js

# 移除直播间广告
^https:\/\/api\.live\.bilibili\.com\/xlive\/app-room\/v1\/index\/getInfoByRoom\? url script-response-body https://raw.githubusercontent.com/jiaweiding/scripts/refs/heads/main/Scripts/bilibili_ads.js

# 精简我的页面
^https:\/\/app\.bilibili\.com\/x\/v2\/account\/(?:mine|myinfo) url script-response-body https://raw.githubusercontent.com/jiaweiding/scripts/refs/heads/main/Scripts/bilibili_ads.js