#!name=小红书去广告
#!desc=参考@RuCu6
#!author=jiaweiding

hostname = ci.xiaohongshu.com, edith.xiaohongshu.com, rec.xiaohongshu.com, www.xiaohongshu.com, so.xiaohongshu.com

# 拦截水印
^https:\/\/ci\.xiaohongshu\.com\/system_config\/watermark url reject-img

# 拦截惊喜盒子
^https:\/\/edith\.xiaohongshu\.com\/api\/sns\/v1\/surprisebox\/(?:get_style|open|submit_action) url reject-dict

# 拦截营销盒子
^https:\/\/www\.xiaohongshu\.com\/api\/marketing\/box\/trigger\? url reject-dict

# 拦截用户横幅和笔记引导
^https:\/\/edith\.xiaohongshu\.com\/api\/sns\/(?:v2\/guide\/user_banner|v3\/note\/guide) url reject-dict

# 拦截广告资源和画廊
^https:\/\/www\.xiaohongshu\.com\/api\/sns\/(?:v1\/ads\/resource|v2\/hey\/\w+\/hey_gallery) url reject-dict

# 移除搜索横幅
^https:\/\/edith\.xiaohongshu\.com\/api\/sns\/v1\/search\/banner_list$ url script-response-body https://raw.githubusercontent.com/Script-Hub-Org/Script-Hub/main/scripts/replace-body.js

# 移除搜索热门列表
^https:\/\/edith\.xiaohongshu\.com\/api\/sns\/v1\/search\/hot_list$ url script-response-body https://raw.githubusercontent.com/Script-Hub-Org/Script-Hub/main/scripts/replace-body.js

# 移除搜索提示词
^https:\/\/edith\.xiaohongshu\.com\/api\/sns\/v4\/search\/hint url script-response-body https://raw.githubusercontent.com/Script-Hub-Org/Script-Hub/main/scripts/replace-body.js

# 移除搜索趋势
^https:\/\/edith\.xiaohongshu\.com\/api\/sns\/v4\/search\/trending\? url script-response-body https://raw.githubusercontent.com/Script-Hub-Org/Script-Hub/main/scripts/replace-body.js


# 移除图片和实况照片水印
^https:\/\/edith\.xiaohongshu\.com\/api\/sns\/v1\/note\/(?:imagefeed|live_photo\/save) url script-response-body https://raw.githubusercontent.com/jiaweiding/scripts/refs/heads/main/Scripts/xhs_ads.js

# 移除整体配置 ui
^https:\/\/edith\.xiaohongshu\.com\/api\/sns\/v1\/system\/service\/ui\/config\? url script-response-body https://raw.githubusercontent.com/jiaweiding/scripts/refs/heads/main/Scripts/xhs_ads.js

# 移除开屏广告 config
^https:\/\/edith\.xiaohongshu\.com\/api\/sns\/v1\/system_service\/config\? url script-response-body https://raw.githubusercontent.com/jiaweiding/scripts/refs/heads/main/Scripts/xhs_ads.js

# 移除开屏广告 splash_config
^https:\/\/edith\.xiaohongshu\.com\/api\/sns\/v2\/system_service\/splash_config url script-response-body https://raw.githubusercontent.com/jiaweiding/scripts/refs/heads/main/Scripts/xhs_ads.js

# 移除详情页小部件、关注页感兴趣的人
^https:\/\/edith\.xiaohongshu\.com\/api\/sns\/v2\/(?:note\/widgets|user\/followings\/followfeed) url script-response-body https://raw.githubusercontent.com/jiaweiding/scripts/refs/heads/main/Scripts/xhs_ads.js

# 移除信息流广告
^https:\/\/edith\.xiaohongshu\.com\/api\/sns\/v4\/followfeed\? url script-response-body https://raw.githubusercontent.com/jiaweiding/scripts/refs/heads/main/Scripts/xhs_ads.js

# 移除详情页感兴趣的人
^https:\/\/edith\.xiaohongshu\.com\/api\/sns\/v5\/recommend\/user\/(?:follow_recommend|explore) url script-response-body https://raw.githubusercontent.com/jiaweiding/scripts/refs/heads/main/Scripts/xhs_ads.js

# 个人中心配置优化
^https:\/\/edith\.xiaohongshu\.com\/api\/sns\/v3\/user\/me\? url script-response-body https://raw.githubusercontent.com/jiaweiding/scripts/refs/heads/main/Scripts/xhs_ads.js

# 消息优化
^https:\/\/edith\.xiaohongshu\.com\/api\/sns\/v1\/im\/get_recent_chats\? url script-response-body https://raw.githubusercontent.com/jiaweiding/scripts/refs/heads/main/Scripts/xhs_ads.js

# 移除搜索页广告
^https:\/\/edith\.xiaohongshu\.com\/api\/sns\/v10\/search\/notes\? url script-response-body https://raw.githubusercontent.com/jiaweiding/scripts/refs/heads/main/Scripts/xhs_ads.js

# 移除评论区实况照片水印
^https:\/\/edith\.xiaohongshu\.com\/api\/sns\/(?:v1\/interaction\/comment\/video\/download|v5\/note\/comment\/list) url script-response-body https://raw.githubusercontent.com/jiaweiding/scripts/refs/heads/main/Scripts/xhs_ads.js

# 移除图片和视频水印
^https:\/\/edith\.xiaohongshu\.com\/api\/sns\/(?:v2\/note\/feed|v3\/note\/videofeed) url script-response-body https://raw.githubusercontent.com/jiaweiding/scripts/refs/heads/main/Scripts/xhs_ads.js

# 移除信息流广告和首页无用type
^https:\/\/(?:edith|rec)\.xiaohongshu\.com\/api\/sns\/v6\/(?:homefeed\/categories|homefeed) url script-response-body https://raw.githubusercontent.com/jiaweiding/scripts/refs/heads/main/Scripts/xhs_ads.js

# 移除视频水印
^https:\/\/(?:edith|rec|www)\.xiaohongshu\.com\/api\/sns\/(?:v4\/note\/videofeed|v10\/note\/video\/save) url script-response-body https://raw.githubusercontent.com/jiaweiding/scripts/refs/heads/main/Scripts/xhs_ads.js